@model AspNetPbkdf2Authentication.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h4>Sign in</h4>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <span class="text-danger">@Html.ValidationMessage("WrongCredentials")</span>
                <div class="form-group mb-3">
                    <label asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <input type="submit" value="Sign in" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <span>Don't have an account yet? <a asp-action="Register" asp-controller="Account">Sign up</a>!</span>
    </div>
</div>